[Unit]
Description=Install or update spotifyd, for Spotify Connect
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/libexec/hearth/hearth-spotify-update
